
body {
    margin: 0;
    line-height: normal;
    font-family: 'Negrita Pro';
}

@font-face {
    font-family: 'Negrita Pro';
    src: url('font/NegritaPro.eot');
    src: local('font/Negrita Pro'), local('NegritaPro'),
        url('font/NegritaPro.eot?#iefix') format('embedded-opentype'),
        url('font/NegritaPro.woff2') format('woff2'),
        url('font/NegritaPro.woff') format('woff'),
        url('font/NegritaPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --box-shadow: 2px 2px 0px 0px #000000;
}
  

* {
    font-family: 'Negrita Pro', sans-serif !important;
}
  